@charset "UTF-8";
.content__paragraph {
  margin-top: 24px;
  color: #3445A0;
}

.content__title > p {
  margin-top: 24px;
  color: rgba(52, 69, 160, 0.7);
}

.content__title > p::after {
  content: ' > О компании';
  color: #3445A0;
}

.navbar {
  background: url("/images/Rectangle 31.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=aboutCompany.css.map */