@import 'colors';


.content {
    &__paragraph {
        margin-top: 24px;
        color: $blue;
    }

    &__title > p {
        margin-top: 24px;
        color: $titlecolor;
    }
    &__title > p::after {
        content: ' > О компании';
        color: $blue;
    }

}
.navbar {
    background: url("/images/Rectangle\ 31.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}
