$white: #FFFFFF;
$whitesmoke:  #F5F5F8;
$light: rgba(255, 255, 255, 0.8);
$light1:#F6F6FF;
$blue: #3445A0 ;
$darkblue: #2B3987;
$lightblue: rgba(120, 126, 255, 0.07);
$darkdesaturatedblue: #2e3170;
$borderblue: rgba(46, 49, 112, 0.1);
$color: #E0E3F7;
$titlecolor: rgba(52, 69, 160,0.7);
$formblue: rgba(52, 69, 160, 0.3);
$formblue2:rgba(52, 69, 160, 0.5);