@import "colors";
@import "media-queries";
@import "./fontfamily.scss";
@import "navbar";

%content-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: auto;
  max-width: 1180px;
  width: 100%;
  box-sizing: border-box;

  &__container {
    width: 100%;
    margin-top: 60px;
    color: $blue;
    font-family: $default-font-family;

    h1 {
      @include font-size(30px, 40px, 00.03em, 700);
    }

    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      h4 {
        position: absolute;
        right: 0;
        bottom: -8px;
        @include font-size(18px, 25.02px, 00.03em, 500);

        @include mobile {
          display: none;
        }
        @include tablet {
          display: none;
        }
        &::after {
            content: "  >";
        }
      }
    }

    &--wrapper {
      border: 2px solid $borderblue;
      margin-top: 20px;
      padding: 31px 38px 31px 38px;
      box-sizing: border-box;
      background: $lightblue;

      &--paragraph {
        p {
          @include font-size(16px, 22.24px, 0.03em, 400);
        }
      }

      &--button {
        width: 167px;
        height: 54px;
        color: $blue;
        background: $light1;
        border: 2px solid $borderblue;
        margin-top: 29px;
        @include font-size($fs: 18px, $lh: 21.78px, $ls: 0.48px, $fw: 600);
        outline: none;
        cursor: pointer;

        &:hover {
          background-color: $blue;
          color: $light1;
        }
      }

      @include mobile {
        width: 100%;
        height: 50;
      }
    }

    &--gridwrapper {
      font-family: $default-font-family;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;

      &--item {
        max-width: 580px;
        width: 100%;
        height: 200px;
        background: $lightblue;
        border: 2px solid $borderblue;
        margin-bottom: 20px;
        padding: 0 50px;
        cursor: pointer;
        box-sizing: border-box;
        @extend %content-center;

        h4 {
          @include font-size(18px, 25.02px, 0.03em, 600);
          @include mobile {
            @include font-size(10.18px, 14.16px, 0.03em, 600);
          }
        }

        &--paragraph {
          max-width: 310px;
          p {
            margin-top: 5px;
            font-family: $default-font-family;
            @include font-size(12px, 19.46px, 0.03em, 400);

            @include mobile {
              @include font-size(8px, 11.12px, 0.03em, 400);
            }
          }
          @include mobile {
            margin-left: 20px;
          }
        }

        &--thirdparagraph {
          max-width: 500px;
          h4 {
            @include font-size(22px, 30.58px, 0.03em, 600);

            @include mobile {
              @include font-size(12.45px, 17.3px, 0.03em, 600);
            }
          }

          p {
            margin-top: 5px;
            @include font-size(14px, 16.68px, 0.03em, 400);

            @include mobile {
              @include font-size(7.9px, 10.99px, 0.03em, 400);
            }
          }
        }

        @include mobile {
          height: 115px;
          padding: 28px 10px;
          svg {
            max-width: 50px;
            margin-right: 20px;
          }
        }
      }

      &--leftwrapper {
        max-width: 580px;
        width: 100%;
        padding-right: 20px;
        box-sizing: border-box;

        @include mobile {
          padding-right: 0px;
        }
        @include tablet {
          width: 100%;
          padding-right: 0px;
        }
      }

      &--rightwrapper {
        max-width: 580px;
        width: 100%;
      }
      a {
        text-decoration: none;
        color: $blue;
        &:hover {
            background-color: $blue;
            color: $light1;
        }
        &:hover {
            svg {
                path {
                    fill: $light1;
                }
            }
        }
      }


      &--button {
        color: $blue;
        background: $light1;
        border: 2px solid $borderblue;
        outline: none;
        cursor: pointer;
        opacity: 0;

        @include font-size(11px, 12.61px, 0.03em, 600);
        &:hover {
          background-color: $blue;
          color: $light1;
        }

        @include mobile {
          opacity: 1;
          width: 100%;
          height: 41px;
        }
        @include tablet {
          opacity: 1;
          width: 580px;
          height: 41px;
        }
      }
      @include tablet {
        justify-content: center;
      }
    }

    // fourth Container
    &--wrappergrid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      padding: 41px 51px 37px 72px;
      box-sizing: border-box;
      background: $lightblue;

      &--leftwrapper {
        max-width: 440px;
        width: 100%;

        @include tablet {
          max-width: 545px;
        }
      }

      &--rightwrapper {
        max-width: 545px;
        width: 100%;
        display: flex;
        flex-direction: column;

        @include mobile {
          flex-direction: column-reverse;
          margin-top: 21px;
        }
        @include tablet {
          flex-direction: column-reverse;
          margin-top: 21px;
        }
      }

      &--info {
        display: flex;
        justify-content: space-between;

        &--hourphone--phone {
          margin: 20px 0 0px 0;
        }
        &--mailaddress--address {
          margin: 20px 0 0px 0;
        }
        &--mailaddress--mail {
          @include mobile {
            margin-top: 20px;
          }
        }

        @include mobile {
          flex-direction: column;
          margin-top: 16px;
          @include font-size(10px, 19px, 0.03em, 500);

          img {
            min-width: 18px;
            max-height: 15px;
          }

        }
        @include tablet {
          margin-top: 16px;
        }

        img {
          margin-right: 14px;
        }
      }
      

      &--form {
        max-width: 440px;
        width: 100%;

        .textarea {
          height: 136px;
          resize: none;
          padding-top: 13px;
          max-width: 440px;
          width: 100%;
          outline-color: $color;
          border: none;
          background-color: $color;
          color: $formblue;
          padding-left: 22px;
          margin-top: 4px;
          margin-bottom: 5px;
          box-sizing: border-box;
          @include font-size(16px, 22.24px, 00.03em, 500);

          @include tablet {
            max-width: 600px;
          }
          @include mobile {
            height: 90px;
            @include font-size(10px, 14.74px, 00.03em, 500);
          }
        }
        .dropdown-container {
          max-width: 440px;
          width: 100%;
          position: relative;
          cursor: pointer;

          
        }
        .dropdown-container {
            .dropdown-select {
                width: 100%;
                height: 48px;
                background-color: $color;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 18px;
                box-sizing: border-box;

                @include mobile {
                  height: 30px;
                  @include font-size(10px, 12.83px, 0.03em, 500);
                }
              }
        }

        .dropdown-container {
            .dropdown-optionsList {
                max-width: 440px;
                width: 100%;
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0;
                top: 48px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s;

                @include mobile {
                  top: 30px;
                }
              }
        }
        .dropdown-container {
          &.active {
            .dropdown-optionsList {
              max-width: 440px;
              width: 100%;
              background-color: $color;
              box-shadow: 0px 15px 15px rgba(52, 69, 160, 0.27);
              opacity: 1;
              visibility: visible;
            }
            .arrow {
              transform: rotateX(180deg);
            }
          }
        }
        .dropdown-container{
            .option {
                max-width: 440px;
                height: 48px;
                background-color: $color;
                display: flex;
                align-items: center;
                padding: 0px 18px;
                box-sizing: border-box;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
      
                @include font-size(16px, 22.24px, 00.03em, 500);

                @include mobile {
                  height: 30px;
                  @include font-size(10px, 14.74px, 00.03em, 500);
                }
              }
        }
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .dropdown-container{
            .option{
                &:hover {
                    background-color: #e4e6f2;
                  }
            }
        }
        .input {
          max-width: 440px;
          width: 100%;
          height: 48px;
          outline-color: $color;
          border: none;
          background-color: $color;
          color: $formblue;
          padding-left: 22px;
          margin: 4px 0 5px 0;
          box-sizing: border-box;
          @include font-size(16px, 22.24px, 00.03em, 500);

          @include mobile {
            height: 30px;
            @include font-size(10px, 12.83px, 0.03em, 500);
          }
        }

        &--robotbutton {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;

          svg {
            width: 260px;
            @include mobile {
              width: 176px;
              height: 74px;
            }
          }

          &--robot {
            align-items: flex-start;
            @include mobile {
              margin-top: 12px;
            }
          }

          button {
            width: 151px;
            height: 54px;
            color: $blue;
            background: $light1;
            border: 2px solid $borderblue;
            @include font-size(16px, 19px, 0.03em, 600);
            outline: none;
            cursor: pointer;

            @include mobile {
              height: 36px;
              width: 100%;
              margin-top: 10px;
              @include font-size(10px, 19px, 0.03em, 600);
            }
            &:hover {
                background-color: $blue;
                color: $light1;
            }
          }

          @include tablet {
            width: 100%;
          }
        }
        p {
          color: $formblue2;
          margin-top: 11px;
          @include font-size(12px, 11px, 0.03em, 400);
        }

        @include tablet {
          padding-right: 0;
          align-items: center;
        }
      }
      @include mobile {
        padding: 20px 18px 20px 25px;
      }

      &--map {
        img {
          max-width: 545px;
          width: 100%;
          margin-top: 42px;

          @include mobile {
            margin-top: 0;
          }
          @include tablet {
            width: 665px;
            height: 200px;
          }
        }
      }
      @include tablet {
        justify-content: center;
      }
    }
  }

  @include mobile {
    padding: 0 15px;
  }
  @include tablet {
    padding: 0 50px;
  }
}
