.navbar__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  height: 170px;
  width: 100%;
  background-color: salmon;
  font-family: "Inter";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99999;
  position: relative;
  box-sizing: border-box;
}

.navbar__inner {
  margin: auto;
  max-width: 1440px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .navbar {
    height: 71.61px;
  }
}

.navbar__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  margin-top: 23px;
  cursor: pointer;
  justify-self: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__logos--logo {
  width: 136px;
  height: 43px;
  text-decoration: none;
}

.navbar__logos--logo img {
  max-width: 145px;
  width: 100%;
}

@media screen and (max-width: 580px) {
  .navbar__logos--logo img {
    max-width: 95px;
    width: 100%;
  }
}

.navbar__bars {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 900px) {
  .navbar__bars {
    opacity: 1;
    visibility: visible;
    color: #FFFFFF;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 20px;
  }
}

.navbar__menu {
  max-width: 620px;
  margin-top: 46.32px;
  -webkit-transition: .23s;
  transition: .23s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__menu--navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .navbar__menu {
    width: 80%;
    height: 100%;
    margin-top: 0;
    background-color: #2B3987;
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0;
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
  }
  .navbar__menu--navigation {
    width: 100%;
    height: 50%;
  }
  .navbar__menu--navigation ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar__menu__phonetime--mobile {
    opacity: 1;
    visibility: visible;
    color: #FFFFFF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__menu.show {
    opacity: 1;
    visibility: visible;
  }
}

.navbar__menu--links {
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 65px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Inter";
}

.navbar__menu--links:hover, .navbar__menu--links .active {
  text-decoration: underline;
}

.navbar__menu__phonetime--mobile {
  opacity: 0;
  visibility: hidden;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: normal;
  font-weight: 500;
  font-family: "Inter";
}

.navbar__menu__phonetime--mobile .phonetime-item {
  margin-bottom: 10px;
}

.navbar__menu__phonetime--mobile .phonetime-item i {
  margin-right: 9.67px;
}

@media screen and (max-width: 900px) {
  .navbar__menu__phonetime--mobile {
    opacity: 1;
    visibility: visible;
  }
}

.navbar__phonetime {
  height: 60px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 34px;
  font-size: 15.27px;
  line-height: 18.48px;
  letter-spacing: normal;
  font-weight: 500;
  font-family: "Inter";
}

.navbar__phonetime i {
  margin-right: 9.67px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .navbar__phonetime {
    display: none;
  }
}

.content__container--gridwrapper--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  margin: auto;
  max-width: 1180px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content__container {
  width: 100%;
  margin-top: 60px;
  color: #3445A0;
  font-family: "Inter";
}

.content__container h1 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: "Inter";
}

.content__container--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content__container--title h4 {
  position: absolute;
  right: 0;
  bottom: -8px;
  font-size: 18px;
  line-height: 25.02px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: "Inter";
}

@media screen and (max-width: 580px) {
  .content__container--title h4 {
    display: none;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--title h4 {
    display: none;
  }
}

.content__container--title h4::after {
  content: "  >";
}

.content__container--wrapper {
  border: 2px solid rgba(46, 49, 112, 0.1);
  margin-top: 20px;
  padding: 31px 38px 31px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(120, 126, 255, 0.07);
}

.content__container--wrapper--paragraph p {
  font-size: 16px;
  line-height: 22.24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Inter";
}

.content__container--wrapper--button {
  width: 167px;
  height: 54px;
  color: #3445A0;
  background: #F6F6FF;
  border: 2px solid rgba(46, 49, 112, 0.1);
  margin-top: 29px;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0.48px;
  font-weight: 600;
  font-family: "Inter";
  outline: none;
  cursor: pointer;
}

.content__container--wrapper--button:hover {
  background-color: #3445A0;
  color: #F6F6FF;
}

@media screen and (max-width: 580px) {
  .content__container--wrapper {
    width: 100%;
    height: 50;
  }
}

.content__container--gridwrapper {
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.content__container--gridwrapper--item {
  max-width: 580px;
  width: 100%;
  height: 200px;
  background: rgba(120, 126, 255, 0.07);
  border: 2px solid rgba(46, 49, 112, 0.1);
  margin-bottom: 20px;
  padding: 0 50px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content__container--gridwrapper--item h4 {
  font-size: 18px;
  line-height: 25.02px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Inter";
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--item h4 {
    font-size: 10.18px;
    line-height: 14.16px;
    letter-spacing: 0.03em;
    font-weight: 600;
    font-family: "Inter";
  }
}

.content__container--gridwrapper--item--paragraph {
  max-width: 310px;
}

.content__container--gridwrapper--item--paragraph p {
  margin-top: 5px;
  font-family: "Inter";
  font-size: 12px;
  line-height: 19.46px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Inter";
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--item--paragraph p {
    font-size: 8px;
    line-height: 11.12px;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-family: "Inter";
  }
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--item--paragraph {
    margin-left: 20px;
  }
}

.content__container--gridwrapper--item--thirdparagraph {
  max-width: 500px;
}

.content__container--gridwrapper--item--thirdparagraph h4 {
  font-size: 22px;
  line-height: 30.58px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Inter";
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--item--thirdparagraph h4 {
    font-size: 12.45px;
    line-height: 17.3px;
    letter-spacing: 0.03em;
    font-weight: 600;
    font-family: "Inter";
  }
}

.content__container--gridwrapper--item--thirdparagraph p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16.68px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Inter";
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--item--thirdparagraph p {
    font-size: 7.9px;
    line-height: 10.99px;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-family: "Inter";
  }
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--item {
    height: 115px;
    padding: 28px 10px;
  }
  .content__container--gridwrapper--item svg {
    max-width: 50px;
    margin-right: 20px;
  }
}

.content__container--gridwrapper--leftwrapper {
  max-width: 580px;
  width: 100%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--leftwrapper {
    padding-right: 0px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--gridwrapper--leftwrapper {
    width: 100%;
    padding-right: 0px;
  }
}

.content__container--gridwrapper--rightwrapper {
  max-width: 580px;
  width: 100%;
}

.content__container--gridwrapper a {
  text-decoration: none;
  color: #3445A0;
}

.content__container--gridwrapper a:hover {
  background-color: #3445A0;
  color: #F6F6FF;
}

.content__container--gridwrapper a:hover svg path {
  fill: #F6F6FF;
}

.content__container--gridwrapper--button {
  color: #3445A0;
  background: #F6F6FF;
  border: 2px solid rgba(46, 49, 112, 0.1);
  outline: none;
  cursor: pointer;
  opacity: 0;
  font-size: 11px;
  line-height: 12.61px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Inter";
}

.content__container--gridwrapper--button:hover {
  background-color: #3445A0;
  color: #F6F6FF;
}

@media screen and (max-width: 580px) {
  .content__container--gridwrapper--button {
    opacity: 1;
    width: 100%;
    height: 41px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--gridwrapper--button {
    opacity: 1;
    width: 580px;
    height: 41px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--gridwrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content__container--wrappergrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding: 41px 51px 37px 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(120, 126, 255, 0.07);
}

.content__container--wrappergrid--leftwrapper {
  max-width: 440px;
  width: 100%;
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid--leftwrapper {
    max-width: 545px;
  }
}

.content__container--wrappergrid--rightwrapper {
  max-width: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--rightwrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 21px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid--rightwrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 21px;
  }
}

.content__container--wrappergrid--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__container--wrappergrid--info--hourphone--phone {
  margin: 20px 0 0px 0;
}

.content__container--wrappergrid--info--mailaddress--address {
  margin: 20px 0 0px 0;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--info--mailaddress--mail {
    margin-top: 20px;
  }
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: "Inter";
  }
  .content__container--wrappergrid--info img {
    min-width: 18px;
    max-height: 15px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid--info {
    margin-top: 16px;
  }
}

.content__container--wrappergrid--info img {
  margin-right: 14px;
}

.content__container--wrappergrid--form {
  max-width: 440px;
  width: 100%;
}

.content__container--wrappergrid--form .textarea {
  height: 136px;
  resize: none;
  padding-top: 13px;
  max-width: 440px;
  width: 100%;
  outline-color: #E0E3F7;
  border: none;
  background-color: #E0E3F7;
  color: rgba(52, 69, 160, 0.3);
  padding-left: 22px;
  margin-top: 4px;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 22.24px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: "Inter";
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid--form .textarea {
    max-width: 600px;
  }
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form .textarea {
    height: 90px;
    font-size: 10px;
    line-height: 14.74px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: "Inter";
  }
}

.content__container--wrappergrid--form .dropdown-container {
  max-width: 440px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.content__container--wrappergrid--form .dropdown-container .dropdown-select {
  width: 100%;
  height: 48px;
  background-color: #E0E3F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form .dropdown-container .dropdown-select {
    height: 30px;
    font-size: 10px;
    line-height: 12.83px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: "Inter";
  }
}

.content__container--wrappergrid--form .dropdown-container .dropdown-optionsList {
  max-width: 440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 48px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form .dropdown-container .dropdown-optionsList {
    top: 30px;
  }
}

.content__container--wrappergrid--form .dropdown-container.active .dropdown-optionsList {
  max-width: 440px;
  width: 100%;
  background-color: #E0E3F7;
  -webkit-box-shadow: 0px 15px 15px rgba(52, 69, 160, 0.27);
          box-shadow: 0px 15px 15px rgba(52, 69, 160, 0.27);
  opacity: 1;
  visibility: visible;
}

.content__container--wrappergrid--form .dropdown-container.active .arrow {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.content__container--wrappergrid--form .dropdown-container .option {
  max-width: 440px;
  height: 48px;
  background-color: #E0E3F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 22.24px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: "Inter";
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form .dropdown-container .option {
    height: 30px;
    font-size: 10px;
    line-height: 14.74px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: "Inter";
  }
}

.content__container--wrappergrid--form span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__container--wrappergrid--form .dropdown-container .option:hover {
  background-color: #e4e6f2;
}

.content__container--wrappergrid--form .input {
  max-width: 440px;
  width: 100%;
  height: 48px;
  outline-color: #E0E3F7;
  border: none;
  background-color: #E0E3F7;
  color: rgba(52, 69, 160, 0.3);
  padding-left: 22px;
  margin: 4px 0 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 22.24px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: "Inter";
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form .input {
    height: 30px;
    font-size: 10px;
    line-height: 12.83px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: "Inter";
  }
}

.content__container--wrappergrid--form--robotbutton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content__container--wrappergrid--form--robotbutton svg {
  width: 260px;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form--robotbutton svg {
    width: 176px;
    height: 74px;
  }
}

.content__container--wrappergrid--form--robotbutton--robot {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form--robotbutton--robot {
    margin-top: 12px;
  }
}

.content__container--wrappergrid--form--robotbutton button {
  width: 151px;
  height: 54px;
  color: #3445A0;
  background: #F6F6FF;
  border: 2px solid rgba(46, 49, 112, 0.1);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Inter";
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--form--robotbutton button {
    height: 36px;
    width: 100%;
    margin-top: 10px;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.03em;
    font-weight: 600;
    font-family: "Inter";
  }
}

.content__container--wrappergrid--form--robotbutton button:hover {
  background-color: #3445A0;
  color: #F6F6FF;
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid--form--robotbutton {
    width: 100%;
  }
}

.content__container--wrappergrid--form p {
  color: rgba(52, 69, 160, 0.5);
  margin-top: 11px;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Inter";
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid--form {
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid {
    padding: 20px 18px 20px 25px;
  }
}

.content__container--wrappergrid--map img {
  max-width: 545px;
  width: 100%;
  margin-top: 42px;
}

@media screen and (max-width: 580px) {
  .content__container--wrappergrid--map img {
    margin-top: 0;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid--map img {
    width: 665px;
    height: 200px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content__container--wrappergrid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  .content {
    padding: 0 15px;
  }
}

@media screen and (min-width: 581px) and (max-width: 1025px) {
  .content {
    padding: 0 50px;
  }
}
/*# sourceMappingURL=content.css.map */