$default-font-family: "Inter";
$default-line-height: 18px;
$default-letter-spacing: normal;
$default-font-weight : normal;

@mixin font-size($fs: false, $lh: $default-line-height, $ls: $default-letter-spacing, $fw: $default-font-weight, $ff: $default-font-family ) {
     @if $fs { font-size: $fs; }
     @if $lh { line-height: $lh; }
     @if $ls { letter-spacing: $ls; }
     @if $fw { font-weight: $fw; }
     @if $ff { font-family: $ff;}
 }
