@import 'colors';
@import 'media-queries';
@import 'fontfamily';

.footer {
    height: 140px;
    background-color: $darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: $default-font-family;


    &__menu {
        list-style: none;
  
           &--links {
               color: $white;
               text-decoration: none;
               margin-right: 65px;

               &:hover {
                   text-decoration: underline;
               } 

                @include mobile {
                   padding-top: 20px;
                   display: block ;
                }
            }

           &--links:nth-last-child(1) {
             margin-right: 0;
           }
        
        }
    &__copyright {
        color: $light;
        text-align: center;
        margin-top: 24px;
        display: flex;
        flex-direction: row;

        @include mobile {
          flex-direction: column;
        }
  
    }
    &__copyright > a {
        display: inline;  
        color: $light;  
    }
    &__copyright > p {
        display: inline;  

        @include mobile {
            @include font-size( 9.11px,
            18.19px, 0.03em, 500); 
            display: block;
            margin-left: 10px;
        }
        
    }

    @include mobile {
        height: 270.18px;
        // display: flex;
        //justify-content:flex-start;
        align-items:flex-start;
        padding: 0 0 16px 27px;
    }
}