.footer {
  height: 140px;
  background-color: #2B3987;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter";
}

.footer__menu {
  list-style: none;
}

.footer__menu--links {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 65px;
}

.footer__menu--links:hover {
  text-decoration: underline;
}

@media screen and (max-width: 580px) {
  .footer__menu--links {
    padding-top: 20px;
    display: block;
  }
}

.footer__menu--links:nth-last-child(1) {
  margin-right: 0;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__copyright > a {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}

.footer__copyright > p {
  display: inline;
}

@media screen and (max-width: 580px) {
  .footer__copyright > p {
    font-size: 9.11px;
    line-height: 18.19px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: "Inter";
    display: block;
    margin-left: 10px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    height: 270.18px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 16px 27px;
  }
}
/*# sourceMappingURL=footer.css.map */