.navbar {
  background: url("/images/Rectangle 31.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  margin-top: 49px;
  z-index: 1;
}

@media screen and (max-width: 580px) {
  .footer {
    margin-top: 21px;
  }
}
/*# sourceMappingURL=HomePage.css.map */