@import 'media-queries';

.navbar {
    background: url("/images/Rectangle\ 31.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}
.footer {
    margin-top: 49px;
    z-index: 1;

    @include mobile {
        margin-top: 21px;
    }
}