$mobile-max: 580px;

$tablet-min: 581px;
$tablet-max: 1025px;

$vertical-menu: 900px;




@mixin mobile {
    @media screen and (max-width: #{$mobile-max}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
        @content;
    }
}

@mixin  verticalMenu {
    @media screen and (max-width: #{$vertical-menu}) {
        @content;
    }
}