@import 'colors';
@import 'media-queries';
@import './fontfamily.scss';

%align-center {
display: flex;
align-items: center;
}

.navbar {
    height: 170px;
    width: 100%;
    background-color: salmon;
    font-family: $default-font-family;
    box-sizing: border-box;
    z-index: 99999;
    position: relative;
    box-sizing: border-box;
  
    &__inner {
        margin: auto;
        max-width: 1440px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    @include mobile {    
       height: 71.61px;
    }

    &__logos {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-top: 23px;
        cursor: pointer;
        @extend %align-center;
        justify-self: start;
        justify-content:flex-start;
        box-sizing: border-box;

        
        &--logo {
            width: 136px;
            height: 43px;
            text-decoration: none;
            
            img {
                max-width: 145px;
                width: 100%;
                @include mobile {
                    max-width: 95px;
                    width: 100%;
                }
            }
        }
    }
   &__bars {
       opacity: 0;
       visibility: hidden;

       @include verticalMenu {
        opacity: 1;
        visibility: visible;
        color: $white;
        position: absolute;
        top: 22px;
        right: 20px;
        font-size: 20px;
       }
    }

   &__menu {
        max-width: 620px;
        margin-top: 46.32px;
        transition: .23s;
        box-sizing: border-box;
        //padding-top: 27.247%;

        &--navigation {
            box-sizing: border-box;
        }
       ul {
        list-style: none;
        display: flex;
  
        align-items: center;
        box-sizing: border-box;
       }

       
            @include verticalMenu {
              
                width: 80%;
                height: 100%;
                margin-top: 0;
                background-color: #2B3987;
                position: fixed;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 50px 0;
                z-index: 99999999;
                opacity: 0;
                visibility: hidden;
               
                    &--navigation {
                        width: 100%;
                        height: 50%;
        
                        ul {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;
                        }
            
                    }

                    &__phonetime--mobile {
                        opacity: 1;
                        visibility: visible;
                        color: $white;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                      }
                      
                    &.show {
                        opacity: 1;
                        visibility: visible;
                    }
           
            } 
        
       

      &--links {
          color: $white;
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          padding-right: 65px;
          white-space: nowrap;
          @include font-size( 16px,
          19.36px, 0.03em, 600); 

          &:hover, .active {
            text-decoration: underline;
          }
        }

        &__phonetime--mobile {
            opacity: 0;
            visibility: hidden;
            @include font-size( 20px,
            19px, $default-letter-spacing, 500); 

            .phonetime-item {
                margin-bottom: 10px;

                i {
                    margin-right: 9.67px;
                }
            }

            @include verticalMenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }
   &__phonetime {
       height: 60px;
       color: $white;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       flex-wrap: wrap;
       padding-top: 34px;
       //justify-self: end;
       
      
       @include font-size( 15.27px,
       18.48px, $default-letter-spacing, 500); 

       i {
        margin-right: 9.67px;
        margin-bottom: 10px;
       }

       @include verticalMenu {
           display: none;
       }
    }
}