.navbar__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  height: 170px;
  width: 100%;
  background-color: salmon;
  font-family: "Inter";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99999;
  position: relative;
  box-sizing: border-box;
}

.navbar__inner {
  margin: auto;
  max-width: 1440px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .navbar {
    height: 71.61px;
  }
}

.navbar__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  margin-top: 23px;
  cursor: pointer;
  justify-self: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__logos--logo {
  width: 136px;
  height: 43px;
  text-decoration: none;
}

.navbar__logos--logo img {
  max-width: 145px;
  width: 100%;
}

@media screen and (max-width: 580px) {
  .navbar__logos--logo img {
    max-width: 95px;
    width: 100%;
  }
}

.navbar__bars {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 900px) {
  .navbar__bars {
    opacity: 1;
    visibility: visible;
    color: #FFFFFF;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 20px;
  }
}

.navbar__menu {
  max-width: 620px;
  margin-top: 46.32px;
  -webkit-transition: .23s;
  transition: .23s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__menu--navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .navbar__menu {
    width: 80%;
    height: 100%;
    margin-top: 0;
    background-color: #2B3987;
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0;
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
  }
  .navbar__menu--navigation {
    width: 100%;
    height: 50%;
  }
  .navbar__menu--navigation ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar__menu__phonetime--mobile {
    opacity: 1;
    visibility: visible;
    color: #FFFFFF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__menu.show {
    opacity: 1;
    visibility: visible;
  }
}

.navbar__menu--links {
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 65px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Inter";
}

.navbar__menu--links:hover, .navbar__menu--links .active {
  text-decoration: underline;
}

.navbar__menu__phonetime--mobile {
  opacity: 0;
  visibility: hidden;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: normal;
  font-weight: 500;
  font-family: "Inter";
}

.navbar__menu__phonetime--mobile .phonetime-item {
  margin-bottom: 10px;
}

.navbar__menu__phonetime--mobile .phonetime-item i {
  margin-right: 9.67px;
}

@media screen and (max-width: 900px) {
  .navbar__menu__phonetime--mobile {
    opacity: 1;
    visibility: visible;
  }
}

.navbar__phonetime {
  height: 60px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 34px;
  font-size: 15.27px;
  line-height: 18.48px;
  letter-spacing: normal;
  font-weight: 500;
  font-family: "Inter";
}

.navbar__phonetime i {
  margin-right: 9.67px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .navbar__phonetime {
    display: none;
  }
}
/*# sourceMappingURL=navbar.css.map */