@charset "UTF-8";
.content__paragraph {
  margin-top: 24px;
  color: #3445A0;
}

.content__title > p {
  margin-top: 24px;
  color: rgba(52, 69, 160, 0.7);
}

.content__title > p::after {
  content: ' > Политика Конфиденциальности ';
  color: #3445A0;
}

.content__container {
  margin-top: 24px;
}

.navbar {
  background: url("/images/Rectangle 33.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=privacyPolicy.css.map */