@import 'colors';

.content {
    &__paragraph {
        margin-top: 24px;
        color: $blue;
    }
    &__paragraph > p {
        margin-top: 20px;
    }

    &__title > p {
        margin-top: 24px;
        color: $titlecolor;
    }
    &__title > p::after {
        content: ' > Услуги > Оформление недвижимости';
        color: $blue;
    }

    &__container {
        margin-top: 24px;
    }

}
.navbar {
    background: url("/images/Rectangle\ 33.png");
    background-repeat: no-repeat;
    background-size: cover ;
}