@import 'colors';
@import 'fontfamily';

.content {
    &__paragraph {
        margin-top: 24px;
        color: $blue;
    }
    &__paragraph > p {
        margin-top: 20px;
        @include font-size( 16px,
                    22.24px, 0.03em, 400); 
    }

    &__title > p {
        margin-top: 24px;
        color: $titlecolor;
    }
    &__title > p::after {
        content: ' > Статьи > Влияние пандемии на арендные отношения';
        color: $blue;
    }

    &__container {
        margin-top: 24px;
    }

}
.navbar {
    background: url("/images/Rectangle\ 35.png");
    background-repeat: no-repeat;
    background-size: cover ;
}