@charset "UTF-8";
.content__paragraph {
  margin-top: 24px;
  color: #3445A0;
}

.content__paragraph > p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22.24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Inter";
}

.content__title > p {
  margin-top: 24px;
  color: rgba(52, 69, 160, 0.7);
}

.content__title > p::after {
  content: ' > Статьи > Влияние пандемии на арендные отношения';
  color: #3445A0;
}

.content__container {
  margin-top: 24px;
}

.navbar {
  background: url("/images/Rectangle 35.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=rentalRelationships.css.map */