@import 'colors';
@import 'media-queries';
@import 'fontfamily';
@import 'navbar';
@import 'content';
@import 'footer';
@import 'aboutCompany';
@import 'services';
@import 'HomePage';
@import 'registration';
@import 'articles';
@import 'rentalRelationships';
@import 'contacts';
@import 'privacyPolicy';



* {
    //box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
  font-family: $default-font-family;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  background-color: $light;
  
} 